.App {
  padding: 1rem;
  // background-color: rgb(41, 20, 113);
  color: #fff;

  .app-header-text {
    text-align: center;
  }



  // .section-header-text {}

  #individual-bill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > button {
      margin-top: 1rem;
    }

    .individual-cost-header-text {
      font-size: 1rem;
    }

    .individual-bill-header {
      min-height: 0;
      height: auto;
      // color:#fff;
    }
  }

  #group-costs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // .group-cost-text-input {
    //   width: 100%;
    // }
  }

  #bottom-button-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
