.individual-name-editor,
.individual-cost-item,
.individual-cost-editor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.individual-cost-item {
  border-bottom: 1px solid lightgray;
}

.individual-cost-editor {
  margin-top: 1rem !important;
}

.individual-bill-button-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;

  .save-individual-btn,
  .delete-individual-btn {
    flex-grow: 1;
  }
}
